body {
    font-family: 'Arial', sans-serif;
    background: #B3CDD1 ;
    argin: 0;
    padding: 0;
}

header {
    background-color: #9FA4C4;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
